@charset "UTF-8";

/* form 양식 CSS : css/common_form.css */

input.btn_submit{

	background-color: steelblue;
	color : white;
	border-radius: 20px;
}

input.normal {
	width : 80px;
	height: 25px;
}

/* 입력 항목에 포커스가 올 때 배경 색 변경*/
input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
	background: #ff8080;
}